/* Higher than 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 980px) and (max-width: 3000px){
	#sidebar-left {
		height: 100%;
	}
	.sidebar-nav > ul{
		margin: 0px;
	}
	.margen3{
		margin-left: 200px;
	}
	.offset{
		margin-left: 180px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {

	#sidebar-left{
		height: 100%;
		width:125px !important;
	}

	.sidebar-nav > ul{
		margin: 0px;
	}
	
	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		font-size: 12px;
		text-align: left;	
	}
	.offset{
		margin-left: 100px;
	}	
}	
/* All Mobile Sizes (devices and browser)
====================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		padding: 0px;
	}
	#sidebar-left{
		width:50px !important;
		height:100%;
	}
	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		font-size: 12px;
		text-align: center;	
		color:black;
	}
	.offset{
		margin-left: 80px;
	}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	#btn_box{
	position:fixed;
	right:15px;
	bottom: 0px;
	}

	#sidebar-left{
		width:50px !important;
		height:100%;
	}

	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		font-size: 10px;
		text-align: center;
		color:black;	
	}
	.offset{
		margin-left: 50px;
	}
}	
@media only screen and (max-height: 768px) {
	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		font-size: 12px;
		height:10px;	
	}
}	