/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background: #F5F5F5;
	color: #333;
	border: none;
	font-family: 'Open Sans', arial;
	font-weight: 400;
	margin:0 auto;
}
footer {
	min-height: 24px;
	background: #3A3A3A;
	color: #fff !important;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	      	border-radius: 0px;
}

footer div span{
	padding: 2px 10px 2px 10px;
}
.centrado{
	text-align: center;
}
.container-fluid{
	padding: 0;
}

#sidebar-left{
		background: #3A3A3A;
		border:0;
		position: fixed;
	}
.sidebar-nav > ul{
	margin: 0px;
	padding-bottom: 1px;
	font-size: 14px;
}

.modal-body{
	height:1000px;
	width:735px;
}

.nav-tabs.nav-stacked > li > a {
	padding: 4% 10px 14px 2%;
	color: #fff;
	border-top: none;
  	border-bottom: 1px solid #666;
	border-left: none;
	border-right: none;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;		

}

.nav-tabs.nav-stacked > li:last-child > a {
  	border-bottom: 1px solid transparent;		
}

.nav-tabs > li > a:hover,
.nav-tabs > li > ul > li > a:hover {
  	color: #666;
}

.nav-tabs.nav-stacked  > li > a.active,
.nav-tabs.nav-stacked  > li > ul > li > a.active  {
  	background: #2D89EF;
	border-bottom: 1px solid #2D89EF;
	cursor:default;
	pointer-events:none;
}

.nav-tabs.nav-stacked  > li.active > a:hover,
.nav-tabs.nav-stacked  > li > ul > li.active > a:hover {
  	background: #2D89EF;
	color: #fff;
	border: none;
	border-bottom: 1px solid #2D89EF;
}

.nav-tabs.nav-stacked  > li.active > ul {
	padding: 5px 0px;
  	color: #3b3b41;
  	background: #fff;
}

.nav-tabs.nav-stacked > li:first-child > a {
	margin: 0px 0px 0px 0px;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}












