@page{
	size: letter;
}
@media print{
	footer, .btn, .navbar, .lasik, hr{
		display:none;
	}
	/*input{
		border: 0 none !important;
        background: none repeat scroll 0 0 transparent !important;
        outline: medium none !important;
	}*/
	/*td{
		padding-left: 8px;
	}*/
	hr{
		margin: 2px;
		border: 1px solid black;
	}
	.reporte{
		display:;
	}
	.span{
		display:inline !important;
	}
	span{
		border:1px solid black;
		padding:1px 6px 1px 6px;
	}	
	div{
		margin-top: 2px;
	}
}
@media screen{
	.reporte{
		display:none;
	}

}
body {
	background: #F5F5F5;
	color: #333;
	border: none;
	font-family: 'Open Sans', arial;
	font-weight: 400;
	margin:0 auto;
}
footer {
	min-height: 24px;
	background: #3A3A3A;
	color: #fff !important;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	      	border-radius: 0px;
}

footer div span{
	padding: 2px 10px 2px 10px;
}
input.parsley-success, textarea.parsley-success {
    color: #5077FE !important;
    background-color: #CAD9FF !important;
    border: 1px solid #B0C8FF !important;
}
input.parsley-error, textarea.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}
textarea{
	height:100px;
}
ul.hover-block li{
	list-style:none;
	float:left;
	width:225px; 
	height: 170px;
	position: relative;
	margin-left: 35px;
}

ul.hover-block li a {
	display: block;
	position: relative;
	overflow: hidden;
	width: 225px;
	height: 170px;
	color: #000;
	text-decoration: none; 
}
ul.hover-block li a .cont-icon{
	width:225px;
	height:170px;
	text-align: center;
	font-size: 570%;
}
ul.hover-block li a .cont-icon i{
	padding-top: 5%;
}

ul.hover-block li .hover-content{
	position: absolute;
	z-index: 1000;
	height: 170px;
	top: 125px;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
}

ul.hover-block li img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	z-index: 500;
}
th{
	text-align: left;
}
#imagenesBiomicroscopia img{
	margin-top: 15px;
}
#image-list{
	list-style: none;	
}
#image-list li{
	display:inline;
	padding-right: 10px;
}
#image-list li img{
	width:100px;
}
#menu_paciente{
	position: fixed;
	top: 200px;
	right: -160px;
	padding-right: 20px;
}
#menu_paciente div{
	display:inline-block;
}
#menu_paciente div ul li a{
	color: #333;
	text-decoration: none;
	font-family: arial;
	font-size: 9pt;
}
#observaciones{
	resize:none;
	width:80%;
	text-align: top;
}
#robservaciones{
	border:1px solid black;
	resize:none;
	width:80%;
	text-align: top;
}
#tab {
	position: fixed;
	top: 200px;
	right: 0px;
	cursor: pointer;
}
#tab div{
	background:red;
	width:60px;
	height:60px;
	border-radius:9px 0 0 9px;
}
#tab div i {
	color:white;
	font-size: 50px;
	padding-left: 6px;
}
#tab2{
	position:fixed;
	background:red;
	color:white;
	width:200px;
	height:150px;
	top: 200px;
	right: -200px;
	cursor: pointer;
	border-radius:0 0 0 9px;
}
#tab2 ul{
	padding-top: 10px;
	list-style: none;
}


#btn_box{
	position:fixed;
	right:15px;
	bottom: 20px;
}
#mnInicio{
	margin-top: 600px;
}
#sidebar-left{
		background: #3A3A3A;
		border:0;
		position: fixed;
		margin:0;
		left:0;
		height:100%;
	}
.b-lblue{
	background: #1ba1e2;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-lblue:hover{
	background: #1789c1;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}
.b-blue{
	background: #1570a6;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;		
}

.b-blue:hover{
	background: #11608f;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}
.btn-eliminar{
	width:70px;	
	padding-right: 15px;
	margin-top: 15px;
}
.btn-eliminar i{
	background-color: white;
	border:3px solid black;
	border-radius: 15px;
	position:relative;
	top: -44px;
	right:12px;
	cursor:pointer;
}
.pr{
	width:20px ;
	font-size: 20px;
}
.logoppal{
	text-align: center;
}
.logoppal img{
	width:80%;
}
.flotante{
	position:absolute;
	right:60px;
	top:16px;
}
.nav-tabs.nav-stacked > li > a {
	padding: 4% 10px 14px 2%;
	color: #fff;
	border-top: none;
  	border-bottom: 1px solid #666;
	border-left: none;
	border-right: none;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;		

}
.nav-tabs > li > a:hover,
.nav-tabs > li > ul > li > a:hover {
  	color: #666;
}
.nav-tabs.nav-stacked  > li > a.active,
.nav-tabs.nav-stacked  > li > ul > li > a.active  {
  	background: #2D89EF;
	border-bottom: 1px solid #2D89EF;
	cursor:default;
	pointer-events:none;
}







