body {
	background: #F5F5F5;
	color: #333;
	border: none;
	font-family: 'Open Sans', arial;
	font-weight: 400;
	margin:0 auto;
}
footer {
	min-height: 24px;
	background: #3A3A3A;
	color: #fff !important;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	      	border-radius: 0px;
}

footer div span{
	padding: 2px 10px 2px 10px;
}
input.parsley-success, textarea.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}
input.parsley-error, textarea.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}
#btn_box{
	position:fixed;
	right:15px;
	bottom: 20px;
}
#sidebar-left{
		background: #3A3A3A;
		border:0;
		position: fixed;
		left:0;
		height:100%;
	}
.nav-tabs.nav-stacked > li > a {
	padding: 4% 10px 14px 2%;
	color: #fff;
	border-top: none;
  	border-bottom: 1px solid #666;
	border-left: none;
	border-right: none;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;		

}
.nav-tabs > li > a:hover,
.nav-tabs > li > ul > li > a:hover {
  	color: #666;
}
.nav-tabs.nav-stacked  > li > a.active,
.nav-tabs.nav-stacked  > li > ul > li > a.active  {
  	background: #2D89EF;
	border-bottom: 1px solid #2D89EF;
	cursor:default;
	pointer-events:none;
}